

<div class="contentContainer">
	<h1 class="subPageBlue">What is Satoshi Table all about?</h1>
	<p class="subPageP">Named after the mysterious founder of Bitcoin, Satoshi Nakamoto, Satoshi Table is a cryptocurrency trading investment group. Satoshi Table will hold on deck, our pick of the 4 most promising cryptocurrencies to buy for the following year. You can keep track of these with our cryptocurrency widgets, giving details on the current price, and percent change at 1 hr, 24 hr, and 7 day time intervals. More info on each coin can also be found on each coin's respective page. We also have a blog that will cover some technical analysis, current news and trends in cryptocurrency trading. Thank you for vising Satoshi Table!</p>

	<div class="scrollBar">
		<h4 class="text-danger">DISCLAIMER</h4>
		<p class="subPageP">Satoshi Table is not a broker or dealer, nor do we offer investment advice. Risk is an inherent element in investment decisions. Please do your own research and seek advice from a registered financial advisor.</p>
	</div>
</div>




<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>
        <div id="main-menu" class="collapse navbar-collapse">

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/ethereum">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#menu-bottom" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        
        <div id="menu-bottom" class="collapse navbar-collapse">
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>