

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>
        <div id="main-menu" class="collapse navbar-collapse">

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/ethereum">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#menu-bottom" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        
        <div id="menu-bottom" class="collapse navbar-collapse">
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="contentContainer">
    <h1 class="subPageBlue">BITCOIN</h1>
    <p class="subPageP">Bitcoin (₿) is a cryptocurrency and worldwide payment system. It is the first decentralized digital currency, as the system works without a central bank or single administrator. The system was designed to work as a peer-to-peer network, a network in which transactions take place between users directly, without an intermediary. These transactions are verified by network nodes through the use of cryptography and recorded in a public distributed ledger called a blockchain. Bitcoin was invented by an unknown person or group of people under the name Satoshi Nakamoto and released as open-source software in 2009. Bitcoins are created as a reward for a process known as mining. They can be exchanged for other currencies, products, and services. As of February 2015, over 100,000 merchants and vendors accepted bitcoin as payment. Research produced by the University of Cambridge estimates that in 2017, there were 2.9 to 5.8 million unique users using a cryptocurrency wallet, most of them using bitcoin</p>
    <p class="subPageP">SOURCE: <a href="https://en.wikipedia.org/wiki/Bitcoin">Wikipedia</a></p>

    <div class="downloadBtn">
       <a href="bitcoin.pdf" download class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-download-alt"></span> WHITEPAPER </a>
    </div>
       
    <a class="twitter-timeline" href="https://twitter.com/Bitcoin?ref_src=twsrc%5Etfw">Tweets by Bitcoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

