

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/ethereum">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="contentContainer">
    <h1 class="subPageBlue">Satoshi Table Blog</h1>
    <p class="subPageP">Stay tuned...first post to come shortly, topics to be covered:</p>
    <ul class="subPageList">
	<li>Cryptocurrency regulatory environment</li>
	<li>Global diversification</li>
	<li>Improvements in blockchain technology</li>
    </ul>
</div>
