

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/bitcoin">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="bgImage"></div>
<div class="main">
	<div class="h1ElementWhite">
		<h1> Current Cyrptocurrencies on deck: Bitcoin, Ethereum, Litecoin &  Ripple</h1>

	<div class="deck">
		<div class="table-container">
		<table>
			<tr>
				<th colspan="2" id="nameBTC">BITCOIN</th>
			</tr>
			<tr>
				<td rowspan="3" id="priceBTC">price</td>
				<td id="change1BTC">%change 1hr</td>
			</tr>
			<tr>
				<td id="change24BTC">%change 24hr</td>
			</tr>
			<tr>
				<td id="change7BTC">%change 7 day</td>
			</tr>
			<tr>
				<td colspan="2" id="market_capBTC">market cap</td>
			</tr>
		</table>
		</div>
		<div class="table-container">
		<table>
			<tr>
				<th colspan="2" id="nameETH">ETHEREUM</th>
			</tr>
			<tr>
				<td rowspan="3" id="priceETH">price</td>
				<td id="change1ETH">%change 1hr</td>
			</tr>
			<tr>
				<td id="change24ETH">%change 24hr</td>
			</tr>
			<tr>
				<td id="change7ETH">%change 7 day</td>
			</tr>
			<tr>
				<td colspan="2" id="market_capETH">market cap</td>
			</tr>
		</table>
		</div>
		<div class="table-container">
		<table>
			<tr>
				<th colspan="2" id="nameLC">LITECOIN</th>
			</tr>
			<tr>
				<td rowspan="3" id="priceLC">price</td>
				<td id="change1LC">%change 1hr</td>
			</tr>
			<tr>
				<td id="change24LC">%change 24hr</td>
			</tr>
			<tr>
				<td id="change7LC">%change 7 day</td>
			</tr>
			<tr>
				<td colspan="2" id="market_capLC">market cap</td>
			</tr>
		</table>
		</div>
		<div class="table-container">
		<table>
			<tr>
				<th colspan="2" id="nameXRP">RIPPLE</th>
			</tr>
			<tr>
				<td rowspan="3" id="priceXRP">price</td>
				<td id="change1XRP">%change 1hr</td>
			</tr>
			<tr>
				<td id="change24XRP">%change 24hr</td>
			</tr>
			<tr>
				<td id="change7XRP">%change 7 day</td>
			</tr>
			<tr>
				<td colspan="2" id="market_capXRP">market cap</td>
			</tr>
		</table>
		</div>
	</div>

	<div class="btnP"><input type="button" value="GET PRICE" id="getPrice"></div>

	<div class="h1ElementWhite"><h1>Coin Rankings</h1></div>

    <div id="rankCarousel" class="carousel slide" data-ride="carousel">
    	
    	<div class="carousel-inner">
    		<div class="item active">
    			<img src="ethereum.jpg">
    			<div class="carousel-caption">
    				<h2>Rank 1: Ethereum</h2>
    			</div>
    		</div>
    		<div class="item">
    			<img src="bitcoin.jpg">
    			<div class="carousel-caption">
    				<h2>Rank 2: Bitcoin</h2>
    			</div>
    		</div>
    		<div class="item">
    			<img src="litecoin.jpg">
    			<div class="carousel-caption">
    				<h2>Rank 3: Litecoin</h2>
    			</div>
    		</div>
    		<div class="item">
    			<img src="ripple.jpg">
    			<div class="carousel-caption">
    				<h2>Rank 4: Ripple</h2>
    			</div>
    		<div>
    	</div>
    </div>

</div>