

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>
        <div id="main-menu" class="collapse navbar-collapse">

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/ethereum">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#menu-bottom" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        
        <div id="menu-bottom" class="collapse navbar-collapse">
        

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="contentContainer">
    <h1 class="subPageBlue">LITECOIN</h1>
    <p class="subPageP">Litecoin (LTC or Ł) is a peer-to-peer cryptocurrency and open source software project released under the MIT/X11 license. Creation and transfer of coins is based on an open source cryptographic protocol and is not managed by any central authority. The coin was inspired by, and in technical details is nearly identical to, Bitcoin (BTC). Litecoin was released via an open-source client on GitHub on October 7, 2011 by Charlie Lee, a former Google employee. The Litecoin network went live on October 13, 2011. It was a fork of the Bitcoin Core client, differing primarily by having a decreased block generation time (2.5 minutes), increased maximum number of coins, different hashing algorithm (scrypt, instead of SHA-256), and a slightly modified GUI</p>
    <p class="subPageP">SOURCE: <a href="https://en.wikipedia.org/wiki/Litecoin">Wikipedia</a></p>

    <div class="downloadBtn">
       <a href="bitcoin.pdf" download class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-download-alt"></span> WHITEPAPER </a>
    </div>

    <a class="twitter-timeline" href="https://twitter.com/litecoin?ref_src=twsrc%5Etfw">Tweets by litecoin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>