

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
            <a class="navbar-brand" href="/">
                SATOSHI TABLE
            </a>
        </div>
        <div id="main-menu" class="collapse navbar-collapse">

        <ul class="nav navbar-nav pull-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li>
            	<div class="dropdown">
  					<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COIN INFO</button>
  					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   						<a class="dropdown-item" href="/bitcoin">Bitcoin</a><br>
    					<a class="dropdown-item" href="/ethereum">Ethereum</a><br>
    					<a class="dropdown-item" href="/litecoin">Litecoin</a><br>
    					<a class="dropdown-item" href="/ripple">Ripple</a>
  					</div>
				</div> 
			</li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#menu-bottom" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"><span>
            </button>
        <p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark"></span> SATOSHI TABLE 2018</p>
        
        <div id="menu-bottom" class="collapse navbar-collapse">

        <ul class="nav navbar-nav pull-left">
            <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="mailto:smitfran@oregonstate.edu"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/FrankCSmith"><i class="fa fa-github-square"></i></a></li>
        </ul>
    </div>
</nav>

<div class="contentContainer">
    <h1 class="subPageBlue">RIPPLE</h1>
    <p class="subPageP"> Ripple is a real-time gross settlement system (RTGS), currency exchange and remittance network created by the Ripple company. Also called the Ripple Transaction Protocol (RTXP) or Ripple protocol, it is built upon a distributed open source internet protocol, consensus ledger and native cryptocurrency abbreviated as XRP (ripples). Released in 2012, Ripple purports to enable "secure, instantly and nearly free global financial transactions of any size with no chargebacks." It supports tokens representing fiat currency, cryptocurrency, commodity or any other unit of value such as frequent flier miles or mobile minutes. At its core, Ripple is based around a shared and public database or ledger, which uses a consensus process that allows for payments, exchanges and remittance in a distributed process</p>
    <p class="subPageP">SOURCE: <a href="https://en.wikipedia.org/wiki/Ripple_(payment_protocol)">Wikipedia</a></p>

    <div class="downloadBtn">
       <a href="ripple_consensus_whitepaper.pdf" download class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-download-alt"></span> WHITEPAPER </a>
    </div>

    <a class="twitter-timeline" href="https://twitter.com/Ripple?ref_src=twsrc%5Etfw">Tweets by Ripple</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
